@font-face {
    font-family: 'exo_2.0black';
    src: url('exo2.0-black-webfont-webfont.eot');
    src: url('exo2.0-black-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-black-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-black-webfont-webfont.woff') format('woff'),
         url('exo2.0-black-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-black-webfont-webfont.svg#exo_2.0black') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0extra_bold';
    src: url('exo2.0-extrabold-webfont-webfont.eot');
    src: url('exo2.0-extrabold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-extrabold-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-extrabold-webfont-webfont.woff') format('woff'),
         url('exo2.0-extrabold-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-extrabold-webfont-webfont.svg#exo_2.0extra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0extra_light';
    src: url('exo2.0-extralight-webfont-webfont.eot');
    src: url('exo2.0-extralight-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-extralight-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-extralight-webfont-webfont.woff') format('woff'),
         url('exo2.0-extralight-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-extralight-webfont-webfont.svg#exo_2.0extra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0light';
    src: url('exo2.0-light-webfont-webfont.eot');
    src: url('exo2.0-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-light-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-light-webfont-webfont.woff') format('woff'),
         url('exo2.0-light-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-light-webfont-webfont.svg#exo_2.0light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_20bold';
    src: url('exo2.0-bold-webfont-webfont.eot');
    src: url('exo2.0-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-bold-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-bold-webfont-webfont.woff') format('woff'),
         url('exo2.0-bold-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-bold-webfont-webfont.svg#exo_20bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_20regular';
    src: url('exo2.0-regular-webfont-webfont.eot');
    src: url('exo2.0-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-regular-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-regular-webfont-webfont.woff') format('woff'),
         url('exo2.0-regular-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-regular-webfont-webfont.svg#exo_20regular') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'exo_2.0medium';
    src: url('exo2.0-medium-webfont-webfont.eot');
    src: url('exo2.0-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-medium-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-medium-webfont-webfont.woff') format('woff'),
         url('exo2.0-medium-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-medium-webfont-webfont.svg#exo_2.0medium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0semi_bold';
    src: url('exo2.0-semibold-webfont-webfont.eot');
    src: url('exo2.0-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-semibold-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-semibold-webfont-webfont.woff') format('woff'),
         url('exo2.0-semibold-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-semibold-webfont-webfont.svg#exo_2.0semi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2.0thin';
    src: url('exo2.0-thin-webfont-webfont.eot');
    src: url('exo2.0-thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2.0-thin-webfont-webfont.woff2') format('woff2'),
         url('exo2.0-thin-webfont-webfont.woff') format('woff'),
         url('exo2.0-thin-webfont-webfont.ttf') format('truetype'),
         url('exo2.0-thin-webfont-webfont.svg#exo_2.0thin') format('svg');
    font-weight: normal;
    font-style: normal;

}